# Flutter / Dart
.dart_tool/
.buildlog/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# iOS / Android
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
android/.gradle/
android/app/*.keystore
android/key.properties

# IDE
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Archives / SDKs / Media
flutter_macos_*/
*.zip
*.tar
*.tar.gz
*.dmg
*.mp4
*.mov
*.wav
*.iso
